In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler

In [2]:
os.chdir("F:\\Road to Opta\\player_stats\\")
football_dataset = pd.read_csv("football_scoreline.csv")
football_dataset = football_dataset.iloc[:,1:]

In [21]:
football_dataset.head(3)

,player_name,season,team,league,opp,h_a,form,pos,gp,min,...,alb,atb,lmt,toff,bcm,bcs,attdr,team_score,opp_score,result
0,Pepe,2016-2017,RMA,LIGA,BAR,A,4231,SUB,0,0,...,0,0,0,0,0,0,0,1,1,draw
1,Nacho,2016-2017,RMA,LIGA,BAR,A,4231,SUB,0,0,...,0,0,0,0,0,0,0,1,1,draw
2,Keylor Navas,2016-2017,RMA,LIGA,BAR,A,4231,GK,1,90,...,4,0,0,0,0,0,0,1,1,draw

In [30]:
columns = football_dataset.columns.to_list()
columns = columns[0:1] + columns [3:4] + columns[7:8] + columns[9:]

In [31]:
df = football_dataset[[*columns]]
position = pd.get_dummies(df.pos,prefix="pos")
result = pd.get_dummies(df.result,prefix="result")
league = pd.get_dummies(df.league,prefix="league")
df = df.drop(['pos','result','league'],axis=1)
df = df.join(position).join(result).join(league)
df.head(3)

,player_name,min,st,on,off,y,yr,r,g,a,...,result_draw,result_loss,result_win,league_BUND,league_EPL,league_FRAN,league_LIGA,league_SERI,league_UCL,league_UEL
0,Pepe,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,1,0,0,0
1,Nacho,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,1,0,0,0
2,Keylor Navas,90,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,1,0,0,0

In [32]:
from sklearn.preprocessing import StandardScaler
scaled_features = StandardScaler().fit_transform(df.iloc[:,1:].values)
scaled_features_df = pd.DataFrame(scaled_features, index=df.iloc[:,1:].index, columns=df.iloc[:,1:].columns)
scaled_features_df.head(5)

,min,st,on,off,y,yr,r,g,a,sa,...,result_draw,result_loss,result_win,league_BUND,league_EPL,league_FRAN,league_LIGA,league_SERI,league_UCL,league_UEL
0,-1.276538,-1.147475,-0.441596,-0.441773,-0.335785,-0.048814,-0.070528,-0.244355,-0.212275,-0.072646,...,1.768542,-0.781164,-0.78084,-0.418671,-0.470915,-0.456079,2.077741,-0.530467,-0.226847,-0.205553
1,-1.276538,-1.147475,-0.441596,-0.441773,-0.335785,-0.048814,-0.070528,-0.244355,-0.212275,-0.072646,...,1.768542,-0.781164,-0.78084,-0.418671,-0.470915,-0.456079,2.077741,-0.530467,-0.226847,-0.205553
2,0.974814,0.871479,-0.441596,-0.441773,-0.335785,-0.048814,-0.070528,-0.244355,-0.212275,-0.072646,...,1.768542,-0.781164,-0.78084,-0.418671,-0.470915,-0.456079,2.077741,-0.530467,-0.226847,-0.205553
3,-1.276538,-1.147475,-0.441596,-0.441773,-0.335785,-0.048814,-0.070528,-0.244355,-0.212275,-0.072646,...,1.768542,-0.781164,-0.78084,-0.418671,-0.470915,-0.456079,2.077741,-0.530467,-0.226847,-0.205553
4,0.974814,0.871479,-0.441596,-0.441773,-0.335785,-0.048814,-0.070528,-0.244355,4.127387,-0.072646,...,1.768542,-0.781164,-0.78084,-0.418671,-0.470915,-0.456079,2.077741,-0.530467,-0.226847,-0.205553

In [33]:
scaled_features_df = pd.concat([df.player_name,scaled_features_df],axis=1)
scaled_features_df.head(5)

,player_name,min,st,on,off,y,yr,r,g,a,...,result_draw,result_loss,result_win,league_BUND,league_EPL,league_FRAN,league_LIGA,league_SERI,league_UCL,league_UEL
0,Pepe,-1.276538,-1.147475,-0.441596,-0.441773,-0.335785,-0.048814,-0.070528,-0.244355,-0.212275,...,1.768542,-0.781164,-0.78084,-0.418671,-0.470915,-0.456079,2.077741,-0.530467,-0.226847,-0.205553
1,Nacho,-1.276538,-1.147475,-0.441596,-0.441773,-0.335785,-0.048814,-0.070528,-0.244355,-0.212275,...,1.768542,-0.781164,-0.78084,-0.418671,-0.470915,-0.456079,2.077741,-0.530467,-0.226847,-0.205553
2,Keylor Navas,0.974814,0.871479,-0.441596,-0.441773,-0.335785,-0.048814,-0.070528,-0.244355,-0.212275,...,1.768542,-0.781164,-0.78084,-0.418671,-0.470915,-0.456079,2.077741,-0.530467,-0.226847,-0.205553
3,Kiko Casilla,-1.276538,-1.147475,-0.441596,-0.441773,-0.335785,-0.048814,-0.070528,-0.244355,-0.212275,...,1.768542,-0.781164,-0.78084,-0.418671,-0.470915,-0.456079,2.077741,-0.530467,-0.226847,-0.205553
4,Luka Modric,0.974814,0.871479,-0.441596,-0.441773,-0.335785,-0.048814,-0.070528,-0.244355,4.127387,...,1.768542,-0.781164,-0.78084,-0.418671,-0.470915,-0.456079,2.077741,-0.530467,-0.226847,-0.205553

In [36]:
import sqlite3
os.chdir("F:\\Road to Opta\\player_stats\\")
cnn=sqlite3.connect('game_data.db')
scaled_features_df.to_sql('scaled_features',cnn)

In [37]:
cursor = cnn.cursor()
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(cursor.fetchall())

[('scaled_features',)]

In [38]:
#cursor.execute("DROP TABLE scaled_features")

In [39]:
%reload_ext sql

In [40]:
%sql sqlite:///game_data.db

In [41]:
## Mean stats of every player

mean_stats_query = '''
Select player_name,
AVG(min) as min_mean,
AVG(st) as st_mean,
AVG('on') as on_mean,
AVG(off) as off_mean,
AVG(y) as y_mean,
AVG(yr) as yr_mean,
AVG(r) as r_mean,
AVG(g) as g_mean,
AVG(a) as a_mean,
AVG(sa) as sa_mean,
AVG(aop) as aop_mean,
AVG(asp) as asp_mean,
AVG(s) as s_mean,
AVG(sog) as sog_mean,
AVG(int) as int_mean,
AVG(cr) as cr_mean,
AVG(acr) as acr_mean,
AVG(cc) as cc_mean,
AVG(bcc) as bcc_mean,
AVG(ccop) as ccop_mean,
AVG(ccsp) as ccsp_mean,
AVG(blk) as blk_mean,
AVG(tkl) as tkl_mean,
AVG(tklw) as tklw_mean,
AVG(fc) as fc_mean,
AVG(fs) as fs_mean,
AVG(p) as p_mean,
AVG(ap) as ap_mean,
AVG(acro) as acro_mean,
AVG(aw) as aw_mean,
AVG(br) as br_mean,
AVG(dr) as dr_mean,
AVG(dw) as dw_mean,
AVG(eg) as eg_mean,
AVG(es) as es_mean,
AVG(ibs) as ibs_mean,
AVG(ibsog) as ibsog_mean,
AVG(ibg) as ibg_mean,
AVG(obs) as obs_mean,
AVG(obsog) as obsog_mean,
AVG(obg) as obg_mean,
AVG(aog) as aog_mean,
AVG(apw) as apw_mean,
AVG(dsp) as dsp_mean,
AVG(own) as own_mean,
AVG(touch) as touch_mean,
AVG(tbox) as tbox_mean,
AVG(pft) as pft_mean,
AVG(dl) as dl_mean,
AVG(afzp) as afzp_mean,
AVG(blkcr) as blkcr_mean,
AVG(pent) as pent_mean,
AVG(clrol) as clrol_mean,
AVG(posl) as posl_mean,
AVG(lpopp) as lpopp_mean,
AVG(pk) as pk_mean,
AVG(pkg) as pkg_mean,
AVG(pkm) as pkm_mean,
AVG(pksvd) as pksvd_mean,
AVG(fkcr) as fkcr_mean,
AVG(fkacr) as fkacr_mean,
AVG(crn) as crn_mean,
AVG(crncr) as crncr_mean,
AVG(crnw) as crnw_mean,
AVG(fks) as fks_mean,
AVG(fksog) as fksog_mean,
AVG(fkg) as fkg_mean,
AVG(gc) as gc_mean,
AVG(cs) as cs_mean,
AVG(sv) as sv_mean,
AVG(ibsv) as ibsv_mean,
AVG(obsv) as obsv_mean,
AVG(aks) as aks_mean,
AVG(pkc) as pkc_mean,
AVG(pkf) as pkf_mean,
AVG(pksv) as pksv_mean,
AVG(cl) as cl_mean,
AVG(ecl) as ecl_mean,
AVG(punch) as punch_mean,
AVG(alb) as alb_mean,
AVG(atb) as atb_mean,
AVG(lmt) as lmt_mean,
AVG(toff) as toff_mean,
AVG(bcm) as bcm_mean,
AVG(bcs) as bcs_mean,
AVG(attdr) as attdr_mean,
AVG(pos_AMC) as pos_AMC_mean,
AVG(pos_AML) as pos_AML_mean,
AVG(pos_AMR) as pos_AMR_mean,
AVG(pos_DC) as pos_DC_mean,
AVG(pos_DL) as pos_DL_mean,
AVG(pos_DMC) as pos_DMC_mean,
AVG(pos_DML) as pos_DML_mean,
AVG(pos_DMR) as pos_DMR_mean,
AVG(pos_DR) as pos_DR_mean,
AVG(pos_FW) as pos_FW_mean,
AVG(pos_FWL) as pos_FWL_mean,
AVG(pos_FWR) as pos_FWR_mean,
AVG(pos_GK) as pos_GK_mean,
AVG(pos_MC) as pos_MC_mean,
AVG(pos_ML) as pos_ML_mean,
AVG(pos_MR) as pos_MR_mean,
AVG(pos_SUB) as pos_SUB_mean,
AVG(team_score) as team_score_mean,
AVG(opp_score) as opp_score_mean,
AVG(result_draw) as result_draw_mean,
AVG(result_win) as result_win_mean,
AVG(result_loss) as result_loss_mean,
AVG(league_BUND) as league_BUND_mean,
AVG(league_EPL) as league_EPL_mean,
AVG(league_FRAN) as league_FRAN_mean,
AVG(league_LIGA) as league_LIGA_mean,
AVG(league_SERI) as league_SERI_mean,
AVG(league_UCL) as league_UCL_mean,
AVG(league_UEL) as league_UEL_mean
from scaled_features
group by player_name
'''

In [42]:
mean_stats = %sql $mean_stats_query

 * sqlite:///game_data.db
Done.

In [43]:
col = scaled_features_df.columns

In [12]:
mean_stats = pd.DataFrame(mean_stats,columns=col)
mean_stats.head(3)

,player_name,min,st,on,off,y,yr,r,g,a,...,result_draw,result_loss,result_win,league_BUND,league_EPL,league_FRAN,league_LIGA,league_SERI,league_UCL,league_UEL
0,Aaron,-0.007176,-0.008785,0.0,-0.322736,-0.097186,-0.048814,-0.070528,-0.244355,-0.108123,...,-0.014618,-0.038696,0.051603,0.389796,-0.470915,-0.456079,1.217906,-0.530467,-0.226847,0.037831
1,Aaron Appindangoye,0.974814,0.871479,0.0,-0.441773,1.873469,-0.048814,-0.070528,-0.244355,-0.212275,...,-0.565437,-0.093670,0.593039,-0.418671,-0.470915,-0.456079,-0.481292,-0.530467,-0.226847,4.864932
2,Aaron Connolly,-0.360810,-0.318262,0.0,0.621056,-0.335785,-0.048814,-0.070528,0.066526,-0.057287,...,0.309805,-0.302275,0.028634,-0.418671,2.123525,-0.456079,-0.481292,-0.530467,-0.226847,-0.205553

In [45]:
# os.chdir("F:\\Road to Opta\\player_stats\\")
# mean_stats.to_csv("scaled_mean_features.csv")

## Function for Similarity

In [11]:
os.chdir("F:\\Road to Opta\\player_stats\\")
mean_stats = pd.read_csv("scaled_mean_features.csv")
mean_stats = mean_stats.iloc[:,1:]

In [124]:
def similarity(mean_stats,similar_player):
    from sklearn.metrics.pairwise import cosine_similarity
    from scipy.spatial.distance import cdist
    import collections
    cosine = cosine_similarity(mean_stats.iloc[:,1:])
    euclid = cdist(mean_stats.iloc[:,1:], mean_stats.iloc[:,1:], 'euclid')
    manhattan = cdist(mean_stats.iloc[:,1:], mean_stats.iloc[:,1:], 'cityblock')
    minkowski = cdist(mean_stats.iloc[:,1:], mean_stats.iloc[:,1:], 'minkowski')
    cosine_df = pd.DataFrame(cosine, index=mean_stats.iloc[:,1:].index)
    cosine_df = pd.concat([mean_stats.player_name,cosine_df],axis=1)
    euclid_df = pd.DataFrame(euclid, index=mean_stats.iloc[:,1:].index)
    euclid_df = pd.concat([mean_stats.player_name,euclid_df],axis=1)
    manhattan_df = pd.DataFrame(manhattan, index=mean_stats.iloc[:,1:].index)
    manhattan_df = pd.concat([mean_stats.player_name,manhattan_df],axis=1)
    minkowski_df = pd.DataFrame(minkowski, index=mean_stats.iloc[:,1:].index)
    minkowski_df = pd.concat([mean_stats.player_name,minkowski_df],axis=1)
    all_players = cosine_df.player_name.to_list()
    cosine_df.columns = ['player_name'] + all_players
    euclid_df.columns = ['player_name'] + all_players
    manhattan_df.columns = ['player_name'] + all_players
    minkowski_df.columns = ['player_name'] + all_players
    similar_df = cosine_df.loc[cosine_df['player_name'] == similar_player]
    similar_df.set_index('player_name',inplace=True)
    cos_top_10 = similar_df.sort_values(by = similar_player, axis=1, ascending=False).iloc[:,1:20]
    similar_df = euclid_df.loc[euclid_df['player_name'] == similar_player]
    similar_df.set_index('player_name',inplace=True)
    euc_top_10 = similar_df.sort_values(by = similar_player, axis=1, ascending=True).iloc[:,1:20]
    similar_df = manhattan_df.loc[manhattan_df['player_name'] == similar_player]
    similar_df.set_index('player_name',inplace=True)
    man_top_10 = similar_df.sort_values(by = similar_player, axis=1, ascending=True).iloc[:,1:20]
    similar_df = minkowski_df.loc[minkowski_df['player_name'] == similar_player]
    similar_df.set_index('player_name',inplace=True)
    mink_top_10 = similar_df.sort_values(by = similar_player, axis=1, ascending=True).iloc[:,1:20]
    a_list = cos_top_10.columns.to_list()
    b_list = euc_top_10.columns.to_list()
    c_list = man_top_10.columns.to_list()
    d_list = mink_top_10.columns.to_list()
    comp_list = a_list + b_list + c_list + d_list
    occurrences = collections.Counter(comp_list)
    return occurrences

In [122]:
similar_player = 'Lionel Messi'

In [137]:
occurrences = dict(occurrences)

In [140]:
from operator import itemgetter
res = dict(sorted(occurrences.items(), key = itemgetter(1), reverse = True)[:10])
res

{'Christian Eriksen': 4,
 'Luis Alberto': 4,
 'James Maddison': 4,
 'Mason Mount': 4,
 'James Rodriguez': 4,
 'Alejandro Gomez': 4,
 'Angel Di Maria': 4,
 'Hakan Calhanoglu': 4,
 'Rodrigo De Paul': 4,
 'Dimitri Payet': 4}

In [125]:
similarity(mean_stats,similar_player)

Counter({'Neymar': 4,
         'Paulo Dybala': 1,
         'Josip Ilicic': 4,
         'Iago Aspas': 4,
         'Nabil Fekir': 4,
         'Jonathan Viera': 4,
         'Alexis Sanchez': 1,
         'Memphis Depay': 4,
         'Domenico Berardi': 3,
         'Cristiano Ronaldo': 3,
         'Angel Di Maria': 2,
         'Mohamed Salah': 1,
         'Lorenzo Insigne': 1})

In [128]:
newA = dict(sorted(A.iteritems(), key=operator.itemgetter(1), reverse=True)[:5])

TypeError: 'module' object is not callable

# Cosine Similarity

In [13]:
import numpy as np; import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity
cosine = cosine_similarity(mean_stats.iloc[:,1:])

In [14]:
cosine_df = pd.DataFrame(cosine, index=mean_stats.iloc[:,1:].index)
cosine_df = pd.concat([mean_stats.player_name,cosine_df],axis=1)
cosine_df.head(5)

,player_name,0,1,2,3,4,5,6,7,8,...,8262,8263,8264,8265,8266,8267,8268,8269,8270,8271
0,Aaron,1.000000,-0.049638,-0.247951,0.533599,0.084918,0.325495,0.344332,-0.034488,-0.064230,...,0.269061,-0.308888,0.206454,0.028771,0.008148,0.118345,0.031254,0.182325,0.087186,-0.036576
1,Aaron Appindangoye,-0.049638,1.000000,-0.291437,0.116449,-0.205316,-0.053328,-0.159982,-0.224589,-0.161786,...,0.546252,-0.131799,-0.089258,0.317194,0.055596,0.179502,0.546101,-0.222751,-0.206896,0.651715
2,Aaron Connolly,-0.247951,-0.291437,1.000000,-0.196502,0.349801,0.010510,-0.225027,0.348232,0.577787,...,0.034316,0.280713,-0.354547,0.277149,0.340921,-0.117128,-0.396561,0.369869,0.351916,0.072071
3,Aaron Cresswell,0.533599,0.116449,-0.196502,1.000000,-0.421719,0.033817,0.452548,-0.437890,0.033670,...,0.029506,0.027654,0.458957,-0.336141,-0.398543,0.234522,0.111203,-0.417322,-0.437732,-0.194267
4,Aaron Herzog,0.084918,-0.205316,0.349801,-0.421719,1.000000,0.215685,-0.110088,0.722162,0.293511,...,0.088130,-0.342574,-0.328327,0.555561,0.623590,-0.211108,-0.288723,0.722092,0.961981,0.218942

In [15]:
all_players = cosine_df.player_name.to_list()
cosine_df.columns = ['player_name'] + all_players

In [31]:
similar_player = 'Kevin De Bruyne'

In [117]:
similar_df = cosine_df.loc[cosine_df['player_name'] == similar_player]
similar_df.set_index('player_name',inplace=True)

In [118]:
similar_df.sort_values(by = similar_player, axis=1, ascending=False).iloc[:,1:20]

,Neymar,Paulo Dybala,Josip Ilicic,Iago Aspas,Nabil Fekir,Jonathan Viera,Alexis Sanchez,Memphis Depay,Domenico Berardi,Antoine Griezmann,Philippe Coutinho,Angel Di Maria,Riyad Mahrez,Andrej Kramaric,Cristiano Ronaldo,Gareth Bale,Dries Mertens,Florian Thauvin,Mislav Orsic
player_name,,,,,,,,,,,,,,,,,,,
Lionel Messi,0.838946,0.821768,0.819854,0.814441,0.789926,0.787882,0.786627,0.786375,0.766348,0.757378,0.74782,0.747694,0.745477,0.744213,0.742639,0.73624,0.731403,0.729641,0.718377

In [116]:
a_list = cos_top_10.columns.to_list()

# Euclidean Distance

In [21]:
from scipy.spatial.distance import cdist

euclid = cdist(mean_stats.iloc[:,1:], mean_stats.iloc[:,1:], 'euclid')

In [22]:
euclid_df = pd.DataFrame(euclid, index=mean_stats.iloc[:,1:].index)
euclid_df = pd.concat([mean_stats.player_name,euclid_df],axis=1)
euclid_df.head(5)

,player_name,0,1,2,3,4,5,6,7,8,...,8262,8263,8264,8265,8266,8267,8268,8269,8270,8271
0,Aaron,0.000000,8.569201,6.213439,5.019703,6.434607,4.313239,7.447954,6.625916,5.357576,...,6.767949,10.871163,6.500450,7.746691,6.827775,10.646020,6.024099,6.140388,6.227228,6.972654
1,Aaron Appindangoye,8.569201,0.000000,9.671536,9.044472,10.312672,8.638279,11.761475,10.242989,8.945102,...,6.865719,12.640813,10.195116,8.493637,9.277918,11.746420,6.390184,10.405385,10.150386,5.809245
2,Aaron Connolly,6.213439,9.671536,0.000000,7.891750,5.717399,5.617003,9.718882,5.571238,3.654753,...,7.839674,8.952915,8.620614,7.044315,5.887450,11.702608,7.620130,5.655568,5.533877,6.917973
3,Aaron Cresswell,5.019703,9.044472,7.891750,0.000000,9.715799,6.899309,7.398541,9.592736,6.858256,...,8.847433,10.771206,6.292383,10.514006,9.787245,10.722663,7.245617,9.725711,9.565847,9.051139
4,Aaron Herzog,6.434607,10.312672,5.717399,9.715799,0.000000,6.052822,10.158773,4.112113,5.744715,...,8.402803,12.287474,9.622421,6.031423,4.954741,12.857969,8.457073,4.198521,1.534276,7.140440

In [23]:
all_players = euclid_df.player_name.to_list()
euclid_df.columns = ['player_name'] + all_players

In [24]:
similar_player = 'Kevin De Bruyne'

In [100]:
similar_df = euclid_df.loc[euclid_df['player_name'] == similar_player]
similar_df.set_index('player_name',inplace=True)
euc_top_10 = similar_df.sort_values(by = similar_player, axis=1, ascending=True).iloc[:,1:20]

In [101]:
b_list = euc_top_10.columns.to_list()

In [102]:
a_list + b_list

['Christian Eriksen',
 'Luis Alberto',
 'James Maddison',
 'Mason Mount',
 'James Rodriguez',
 'Alejandro Gomez',
 'Lorenzo Pellegrini',
 'Angel Di Maria',
 'Hakan Calhanoglu',
 'Rodrigo De Paul',
 'Dimitri Payet',
 'Pascal Gross',
 'Ever Banega',
 'Sergio Canales',
 'Kerem Demirbay',
 'Cesc Fabregas',
 'Gylfi Sigurdsson',
 'Willian',
 'Santi Cazorla',
 'Luis Alberto',
 'Christian Eriksen',
 'James Maddison',
 'Mason Mount',
 'Alejandro Gomez',
 'Hakan Calhanoglu',
 'Angel Di Maria',
 'Rodrigo De Paul',
 'Ever Banega',
 'Pascal Gross',
 'James Rodriguez',
 'Gylfi Sigurdsson',
 'Dimitri Payet',
 'Kerem Demirbay',
 'Santi Cazorla',
 'Lorenzo Pellegrini',
 'Memphis Depay',
 'Sergio Canales',
 'Benjamin Bourigeaud']

In [114]:
check_player = '''
Select player_name from scaled_features
where player_name LIKE '%Kevin de%'
'''

In [115]:
%sql $check_player

 * sqlite:///game_data.db
Done.

[('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin Denkey',),
 ('Kevin Denkey',),
 ('Kevin Denkey',),
 ('Kevin Denkey',),
 ('Kevin Denkey',),
 ('Kevin Denkey',),
 ('Kevin Denkey',),
 ('Kevin Denkey',),
 ('Kevin Denkey',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin Denkey',),
 ('Kevin Denkey',),
 ('Kevin Denkey',),
 ('Kevin Denkey',),
 ('Kevin Denkey',),
 ('Kevin Denkey',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin Denkey',),
 ('Kevin Denkey',),
 ('Kevin Denkey',),
 ('Kevin Denkey',),
 ('Kevin Denkey',),
 ('Kevin Denkey',),
 ('Kevin Denkey',),
 ('Kevin Denkey',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin De Bruyne',),
 ('Kevin Denkey',),
 ('Kevin Denkey',),
 ('Kevin Denkey',),
 ('Kevin Denkey',),
 ('Kevin Denkey',),
 ('Kevin Denkey',),
 ('Kevin Denkey',),
 ('Kevin Denkey',),
 ('Kevin Denkey',),
 ('Kevin Denkey',),
 ('Kevin Denkey',),
 ('Kevin Denkey',),
 ('Kevin Denkey',),
 ('Kevin Denkey',)]

# Manhattan Distance

In [44]:
from scipy.spatial.distance import cdist
manhattan = cdist(mean_stats.iloc[:,1:], mean_stats.iloc[:,1:], 'cityblock')

In [45]:
manhattan_df = pd.DataFrame(manhattan, index=mean_stats.iloc[:,1:].index)
manhattan_df = pd.concat([mean_stats.player_name,manhattan_df],axis=1)
manhattan_df.head(5)

,player_name,0,1,2,3,4,5,6,7,8,...,8262,8263,8264,8265,8266,8267,8268,8269,8270,8271
0,Aaron,0.000000,45.322390,40.673967,33.143342,42.895106,22.660203,47.765497,43.557054,27.917218,...,35.276335,73.722981,47.033637,45.193013,43.818344,55.662528,37.683835,41.305382,40.300044,34.914166
1,Aaron Appindangoye,45.322390,0.000000,52.357026,51.414708,50.978955,39.120336,73.299418,50.427010,43.714605,...,33.688241,84.075460,67.637208,42.576669,46.377821,70.392410,25.954376,51.060744,48.786935,25.826585
2,Aaron Connolly,40.673967,52.357026,0.000000,55.903240,30.519550,30.410853,59.813007,29.883263,20.733288,...,37.805601,63.182107,61.187082,32.023978,30.506508,64.682995,46.114409,30.184128,28.659970,31.019543
3,Aaron Cresswell,33.143342,51.414708,55.903240,0.000000,68.691013,45.297005,46.677452,67.541201,44.904810,...,55.616604,75.571993,40.637677,69.569482,68.348532,57.402922,43.962663,68.859786,65.901127,54.686216
4,Aaron Herzog,42.895106,50.978955,30.519550,68.691013,0.000000,32.787070,70.529442,7.423694,32.469515,...,36.798976,85.656908,73.813892,10.239018,11.871054,78.949019,52.125809,8.744598,3.091667,30.310091

In [46]:
all_players = manhattan_df.player_name.to_list()
manhattan_df.columns = ['player_name'] + all_players

In [73]:
similar_player = 'David Silva'

In [103]:
similar_df = manhattan_df.loc[manhattan_df['player_name'] == similar_player]
similar_df.set_index('player_name',inplace=True)
man_top_10 = similar_df.sort_values(by = similar_player, axis=1, ascending=True).iloc[:,1:20]

In [104]:
c_list = man_top_10.columns.to_list()

# minkowski distance

In [48]:
from scipy.spatial.distance import cdist
minkowski = cdist(mean_stats.iloc[:,1:], mean_stats.iloc[:,1:], 'minkowski')

In [49]:
minkowski_df = pd.DataFrame(minkowski, index=mean_stats.iloc[:,1:].index)
minkowski_df = pd.concat([mean_stats.player_name,minkowski_df],axis=1)
minkowski_df.head(5)

,player_name,0,1,2,3,4,5,6,7,8,...,8262,8263,8264,8265,8266,8267,8268,8269,8270,8271
0,Aaron,0.000000,8.569201,6.213439,5.019703,6.434607,4.313239,7.447954,6.625916,5.357576,...,6.767949,10.871163,6.500450,7.746691,6.827775,10.646020,6.024099,6.140388,6.227228,6.972654
1,Aaron Appindangoye,8.569201,0.000000,9.671536,9.044472,10.312672,8.638279,11.761475,10.242989,8.945102,...,6.865719,12.640813,10.195116,8.493637,9.277918,11.746420,6.390184,10.405385,10.150386,5.809245
2,Aaron Connolly,6.213439,9.671536,0.000000,7.891750,5.717399,5.617003,9.718882,5.571238,3.654753,...,7.839674,8.952915,8.620614,7.044315,5.887450,11.702608,7.620130,5.655568,5.533877,6.917973
3,Aaron Cresswell,5.019703,9.044472,7.891750,0.000000,9.715799,6.899309,7.398541,9.592736,6.858256,...,8.847433,10.771206,6.292383,10.514006,9.787245,10.722663,7.245617,9.725711,9.565847,9.051139
4,Aaron Herzog,6.434607,10.312672,5.717399,9.715799,0.000000,6.052822,10.158773,4.112113,5.744715,...,8.402803,12.287474,9.622421,6.031423,4.954741,12.857969,8.457073,4.198521,1.534276,7.140440

In [52]:
all_players = minkowski_df.player_name.to_list()
minkowski_df.columns = ['player_name'] + all_players
similar_player = 'Kevin De Bruyne'

In [105]:
similar_df = minkowski_df.loc[minkowski_df['player_name'] == similar_player]
similar_df.set_index('player_name',inplace=True)
mink_top_10 = similar_df.sort_values(by = similar_player, axis=1, ascending=True).iloc[:,1:20]

In [106]:
d_list = mink_top_10.columns.to_list()

In [107]:
comp_list = a_list + b_list + c_list + d_list

In [108]:
import collections
occurrences = collections.Counter(comp_list)
occurrences

Counter({'Christian Eriksen': 4,
         'Luis Alberto': 4,
         'James Maddison': 4,
         'Mason Mount': 4,
         'James Rodriguez': 4,
         'Alejandro Gomez': 4,
         'Lorenzo Pellegrini': 3,
         'Angel Di Maria': 4,
         'Hakan Calhanoglu': 4,
         'Rodrigo De Paul': 4,
         'Dimitri Payet': 4,
         'Pascal Gross': 4,
         'Ever Banega': 4,
         'Sergio Canales': 4,
         'Kerem Demirbay': 4,
         'Cesc Fabregas': 1,
         'Gylfi Sigurdsson': 4,
         'Willian': 1,
         'Santi Cazorla': 4,
         'Memphis Depay': 2,
         'Benjamin Bourigeaud': 2,
         'David Silva': 1,
         'Mesut Ozil': 1,
         'Bruno Fernandes': 1})